


  <div>
    <div class="card_list">
      <h1><%= @list.name %></h1>

    <!-- card_container -->
      <div class= "flex-container">
        <% @list.bookmarks.each do |bookmark|%>
        <!-- card_bookmark -->
        <div class="card_bookmark" >
          <%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: "You are about to delete the movie. Are you sure?" }, class:"dropdown-item" do %><i class="far fa-minus-square"></i><% end %>
          <p><%= bookmark.movie.title %></p>
          <p><% bookmark.movie.rating.times do %> <i class="fas fa-star" style= "color: orange"></i><% end %></p>
          <div class="synopsis">
          <p>Synopsis:</p>
          <p><%= bookmark.movie.overview %></p>
          </div>

          <!-- image of the movie start-->
            <div class="movie-pic"><%= image_tag bookmark.movie.poster_url, class:"movie-image", style:"width: 100px; height:auto;" %></div>
          <!-- image of the movie end -->
        </div>

      <!-- card_bookmark end -->
        <% end %>
      </div>

  <!-- container end-->


      </div>
    </div>
  </div>
</div>
    <div class="back">
     <%= link_to "back to the lists", lists_path%>
    </div>



<!-- FORM start -->

<%= simple_form_for ([@list, @bookmark]) do |f| %>
</div>
    <div class="container"></div>
      <div class="form_inputs row justify-content-center">
        <div class="col-8">
    <!-- LOOK AT f.association on https://github.com/heartcombo/simple_form#associations -->
        <p><%= f.association :list, as: :select %></p>
        <p><%= f.association :movie %></p>
      <div class="form_actions row justify-content-center">
        <div class="add"><p><%= f.submit "add the movie", class:"btn btn-warning add-cancel" %></p></div>
        <div class="cancel"><p><%= link_to "cancel", list_path(@list), class:"btn btn-dark add-cancel" %></p></div>
      </div>
    </div>
  </div>
<% end %>
    <!-- form for user -->

<!-- FORMS end -->
